<!DOCTYPE html>
<html>
<head>
    <title>User Form</title>
</head>
<body>
    <form method="POST" action="/api/user">
        <label>Firstname</label>
        <input type="text" name="firstname" required><br>
        <label>Lastname</label>
        <input type="text" name="lastname" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>