#p1:hover{
    background-color:#c1121f;
}
#p3:hover{
    background-color: #c2c5aa  ;
}
#p4:hover{
    background-color: #ffd97d;
}
#p5:hover{
    background-color: #adff02;
}
#p6:hover{
    background-color: #76c893;
}